*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --color-primary: #18381d;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}
